body{
	width: 1000;
	height: 800;
}
table{
	/*text-align: center;*/
	margin-left: auto;
	margin-right: auto;
}
table td{
	margin: 0px 3px 3px 0px;
}
#refresh{
	margin-left: auto;
	margin-right: auto;
	background-color: #01ff01;
	padding: 2px 2px;
	border-radius: 25px;
}